<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sample_IOS_App_1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CA7D4E0238553F200DE4472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA7D4F4238553F200DE4472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA7D4FF238553F300DE4472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
